# Some version of Django - recommend django>=1.6,<1.7.
# Travis will iterate over various versions of Django, so it's being left out
# of the requirements file.

colour-runner==0.0.4
coverage==4.5.4
flake8==2.3.0
